## Reading Excel data and perform set operations

In [34]:
import pandas as pd

In [35]:
df = pd.read_excel("collocates.xlsx")

In [36]:
df.head(20)  # show the first few entries

          TRAVEL  FREQ1          TRIP  FREQ2
0          AGENT    912          BACK    137
1           TIME    670          WIRE    124
2            BAN    586       PLANNER    115
3         AGENTS    497         WIRES     53
4         AGENCY    466      COMPUTER     50
5       EXPENSES    412          HOME     50
6         OFFICE    378          DATA     48
7          PLANS    363  CANCELLATION     40
8       INDUSTRY    332          TIME     39
9         WRITER    322       ADVISOR     38
10  RESTRICTIONS    247        REPORT     36
11         TIMES    218        LEADER     33
12         GUIDE    214      PLANNING     32
13      AGENCIES    209          COST     30
14     INSURANCE    192            ID     26
15  ARRANGEMENTS    176        LENGTH     26
16     DOCUMENTS    168     INSURANCE     18
17      SCHEDULE    168         RIGHT     18
18        EDITOR    164  INTERRUPTION     17
19         LIGHT    163       LEADERS     17

### set intersection

In [37]:
common_collocates = set(df['TRAVEL']).intersection(set(df['TRIP']))

### set differences (travel minus trip)

In [38]:
travel_only_collocates = set(df['TRAVEL']).difference(set(df['TRIP']))

### set intersection (trip minus travel)

In [39]:
trip_only_collocates = set(df['TRIP']).difference(set(df['TRAVEL']))

### check sizes of the sets

In [40]:
len(common_collocates), len(travel_only_collocates), len(trip_only_collocates)

(20, 80, 80)

### Crete a new dataframe and write results to a new Excel file

In [41]:
df2 = pd.DataFrame(
        {'common': pd.Series(list(common_collocates)),
         'travel_only': pd.Series(list(travel_only_collocates)),
         'trip_only': pd.Series(list(trip_only_collocates))}
        )

In [42]:
df2.to_excel("collocates_comparison.xlsx")